

<div class="container">
  <div style="position: relative; left: 0; top: 0;">
		<img src="img/fishes.png" class="fishes"/>
		<img src="img/fish.png" class="fish"/>
	</div>
  <img src="/assets/wcd.jpeg"  class="image" style="width:25%">
  <div class="middle">
    <div class="text"><p>Did you know? Giving, taking, demanding or even advertising dowry are all illegal under the Dowry Prohibition Act, 1961</p></div>
  </div>
</div>