<div id="throbber" style="display:none; min-height:120px;"></div>
<div id="noty-holder"></div>
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="http://cijulenlinea.ucr.ac.cr/dev-users/">
               
            </a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">           
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin User <b class="fa fa-angle-down"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-fw fa-user"></i> Edit Profile</a></li>
                    <li><a href="#"><i class="fa fa-fw fa-cog"></i> Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-fw fa-power-off"></i> Logout</a></li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav" style="margin-left:-227px;margin-top:-10px">
                <li>
                    <a href="db" data-toggle="collapse" data-target="#submenu-1"> <i class="glyphicon glyphicon-home">  </i>   DASHBOARD </a>
                   
                </li>
                <li>
                    <a href="#" data-toggle="collapse" data-target="#submenu-2"><i class="fa fa-fw fa-star"></i>  SCHEMES<i class="fa fa-fw fa-angle-down pull-right"></i></a>
                    <ul id="submenu-2" class="collapse">
                        <li><a href="agriculture"><i class="fa fa-angle-double-right"></i> AGRICULTURE</a></li>
                        <li><a href="education"><i class="fa fa-angle-double-right"></i> EDUCATION</a></li>
                        <li><a href="nari"><i class="fa fa-angle-double-right"></i> NARI</a></li>
                    </ul>
                </li>
                <li>
                    <a href="allocation"><i class="fa fa-fw fa-user-plus"></i>  ALLOCATIONS</a>
                </li>
                <li>
                    <a href="track"><i class="fa fa-fw fa-paper-plane-o"></i> TRACK</a>
                </li>
               
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>

    <div id="page-wrapper">
        <div class="container-fluid">
            <!-- Page Heading -->
            <div class="row" id="main" >
                <div class="col-sm-12 col-md-12 well" id="content">
                    <h1><center><u>GOVERNMENT OF MAHARASHTRA</u></center></h1><br><br>
                
                           
                        
<div>


   <div class="form-group">
              <label class="col-sm-2 control-label" for="name">SERVICE NUMBER :</label>
              <div class="col-md-9">
                {{input id="number" name="num" type="number" valueBinding='Num' class="form-control"}}
              </div>
            </div><br><br><br>

<table class="table table-striped">
       <thead>
            <tr class="info">
                <th>Department</th>
                <th>Total Amount</th>
                <th>Allocated Amount</th>
                <th>Pendency%</th>
                <th>Assigned</th>
                <th>Forwarded</th>
            </tr>
        </thead>
        </table>

	</div>
  

  
  {{!-- <lable>ALLOCATE</lable> --}}
  {{!-- {{input type="text" valueBinding='allocate' class="form-control"}}<br><br> --}}
 
  


</div>       
                   
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>

<script>
    $(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $(".side-nav .collapse").on("hide.bs.collapse", function() {                   
        $(this).prev().find(".fa").eq(1).removeClass("fa-angle-right").addClass("fa-angle-down");
    });
    $('.side-nav .collapse').on("show.bs.collapse", function() {                        
        $(this).prev().find(".fa").eq(1).removeClass("fa-angle-down").addClass("fa-angle-right");        
    });
})   
</script>